:root {
  --color-white: #ffffff;
  --color-blueMagenta: #6200ee;
  --color-darkblueMagenta: #3700b3;
  --color-black: #000000;
  --light-white: #f7f8fa;
  --dark-grey: #999;
  --light-grey: #666;
  --color-grey: #808080;
  --cream-white: #f5f7f6;
  --color-red: #ff0000;
  --color-green: #00ff00;
}
