@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bigelow+Rules&family=Caveat:wght@500&family=Comforter&family=David+Libre:wght@500&family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:wght@400;700;800&family=Open+Sans:wght@300&family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@500;700;900&family=Shizuru&family=Smooch&family=Square+Peg&family=Varela+Round&display=swap");

.navbar-container {
  display: flex;
  background-color: #6200ee;
  padding: 0.2rem 2rem 0 1rem;
  justify-content: space-between;
  height: 8rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-container h2 {
  color: white;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
}

.logo-container {
  text-decoration: none;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  font-size: 20px;
  margin-top: 4px;
}

.user {
  margin-top: 20px;
}
