.explore-heading {
  margin-top: 12rem;
  font-size: 4em;
  text-align: center;
}

.explore-options-section {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-top: 10rem;
}

.explore-one {
  width: 40%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--color-black);
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.explore-two {
  width: 40%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--color-black);
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.explore-three {
  width: 40%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--color-black);
  margin: 0 7.5px 15px;
  overflow: hidden;
  margin: 5rem auto 5rem;
}

.explore-section-heading {
  background: var(--light-white);
  opacity: 0.4;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.explore-section-headingOne {
  left: 950px;
}

.explore-section-headingTwo {
  left: 500px;
}

.explore-section-headingThree {
  left: 700px;
}
